<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        /* Make the image fully responsive */
        
        .carousel-inner img {
            width: 50%;
            height: 80%;
            margin-left: 50px;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for name in image_names %}
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                    <img src="{{url_for('static', filename=name)}}" class="img-responsive">
                </div>
            {% endfor %}
            <!-- Controls -->
            <a class="home-icon left" href="#carousel-example-generic" role="button" data-slide="prev"> 
              <i class="fa fa-arrow-left"></i>
            </a> 
            <a class="home-icon right" href="#carousel-example-generic" role="button" data-slide="next"> 
              <i class="fa fa-arrow-right" style="text-align: right;"></i>
            </a>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>

</html>